body{
    margin:0px;
}
#container{
    background-color: rgb(129, 213, 247);
}
#container header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "menu h1";
    border-bottom: 5px dotted white;
}
#container header menu{
    grid-area: menu;
}
#container header menu ul li{
    display: inline-block;
    color: white ;
}
#container header h1{
    grid-area: h1;
    margin: 0px;
    text-shadow: 0 0 20px #204BB3, 0 0 30px #204BB3, 0 0 40px #204BB3, 0 0 55px #204BB3, 0 0 75px #204BB3, -40px -40px 0px rgba(37,87,206,0);    color: white;
}
#container section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "article aside";
    border-bottom: 2px dotted white;
}

